/* app css stylesheet */

.angular-google-map-container {
    height: 800px;
}


.menu {
    font-size: 16px;
}

.nav {
    display: inline-flex;
}

#bodyPortion {
    padding-top: 53px;
}

#bodyPortion google-map {
    width: auto;
    height: 100%;
}

#bodyPortion #results {
    background-color: #000000;
    float: left;
    width: 20%;
    height: 800px;
    overflow: scroll;
}

#results ul {
    padding-left: 0px;

}

#results ul li {
    background-color: cornsilk;

}

#results .thumbnail {
    margin-left: 3px;
    margin-bottom: 3px;
    margin-right: 3px;

}

.headerPortion {
    background-color: #563d7c;
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.error{
    color: red;
}

ul {
    list-style-type: none;
}

.marker-labels{
    border: 1px solid #ddd;
    background-color: cornsilk;
    font-size:14pt;
    padding:5px;
    border-radius: 4px;
}

.menuDetail {
    width: 90%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.menuDetail .progress{
    height: 50px;
}

.splashModal {
    height: 350px;

}

.menuModal {
    height: 80%;

}

.menuModal h3 {
    padding-top: 5px;
    margin: 0 0 0 0;

}

.menuModal .modal-header {
    height: 65px;
}

.menu-body {
    height: 400px;
    overflow: scroll;
}

.macros .col-sm-4 {
    padding-left: 0px;
    width: 48%;
}

.small-margin-bottom {
    margin-bottom: 10px;
}

.custom-info-window{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    /*border: 1px solid white;*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
    margin-left: -130px;
}
.custom-info-window a{
    color: white;
    text-decoration: underline;
}
.custom-info-window:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: rgba(0,0,0,0.5) transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 118px;
}


