<div class="modal-header">
    <div style="float:left"><h3>Menu</h3></div>
    <div style="float:right">
        <button class="btn btn-info btn-large" ng-click="cancel()">X</button>
    </div>

</div>
<div class=menu-body>
    <ul>
        <li ng-repeat="item in items | orderBy:'calories':true" class="menu-item">
            <dl class="menuDetail">
                <dt>{{item.name}} - {{item.calories}} calories</dt>
                <progress>
                    <bar ng-repeat="bar in item.bars" value="bar.value" type="{{bar.type}}">
                        <span>{{bar.gram}}g {{bar.name}} </span>
                    </bar>
                </progress>
            </dl>
        </li>
    </ul>
</div>