<div class="modal-header">
    <h3>Let's find your meal...</h3>
</div>

<form name="appForm" class="app-form container modal-body" style="padding-bottom: 0px;">
    <div class="row small-margin-bottom">
        <div class="col-sm-2">
            Calories
        </div>

        <div class="col-sm-2">
            <input type="number" name="input" ng-model="userSearch.calories" ng-m min="0" max="10000000" required>
            <span class="error" ng-show="appForm.input.$error.required">Required!</span>
            <span class="error" ng-show="appForm.input.$error.number">Not valid number!</span>
        </div>
    </div>

    <div class="row small-margin-bottom">
        <div class="col-sm-2">
            Nutrient Balance
        </div>

        <div class="col-sm-1">
            <select ng-model="item" ng-change="updateMacros(item)"
                    ng-options="item.name for item in items"></select>
        </div>
    </div>

    <div class="macros">
        <div class="col-sm-4">
            <progress style="height: 40px;">
                <bar ng-repeat="bar in stacked" value="bar.value" type="{{bar.type}}">
                    <span>{{bar.value}}% ({{bar.name}})</span>
                </bar>
            </progress>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button class="btn btn-success btn-large" ng-click="ok()">Let's Eat!</button>
</div>



