<!doctype html>

<div ng-show="showResults" id="results">
    <ul>
        <li ng-repeat="restaurant in results" class="thumbnail">
            <div ng-click="openMarker(restaurant)" style="cursor: pointer">
                <dl class="menuDetail">
                    <dt>{{restaurant.name}}</dt>
                    <dd ><a ng-click="openMenu(restaurant)">{{restaurant.menu.length}} Matching Items ></a></dd>
                </dl>
            </div>
        </li>
    </ul>
</div>
<div>
    <google-map center="center" zoom="zoom" draggable="true">

        <markers models="markers" coords="'self'" icon="'icon'" click="'onClicked'">
            <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                <p ng-non-bindable>{{restaurant.name}}</p>

                <p ng-non-bindable>{{restaurant.address}}</p>

            </windows>
        </markers>
    </google-map>
</div>




