
<div class="container">

<form name="appForm" novalidate class="app-form">
    <label>First name:</label>  <input type="text" name="firstName" ng-model="newUser.firstName"/>
    <label>Last name:</label>  <input type="text" name="lastName" ng-model="newUser.lastName"/>
    <label>Age:</label>  <input type="number" name="age" ng-model="newUser.age"/> <br/>
    <button ng-click="add(newUser)" class="btn btn-primary">Add User</button>
</form>
  </div>
<div class="container">
<h2>User List</h2>
<ul class="users">
    <li ng-repeat="user in users | orderBy:orderProp" class="thumbnail">
        <a href="#/users/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>

        <p>Age: {{user.age}}</p>
        <h4>Feeds:</h4>
        <ul>
            <li ng-repeat="feed in user.feeds">
                <a href="{{feed.url}}">{{feed.name}}</a>
            </li>
        </ul>
    </li>
</ul>

</div>