
<style>
    .formplacement {
        width: 300px;
        margin-left: 30px;
        margin-top: 20px;
    }
</style>


<form class="form-horizontal formplacement" role="form">
    <div class="form-group">
        <strong style="font-size: 18px">Restaurant Name:</strong>
        <label class="sr-only" for="restaurantName">Restaurant Name:</label>
        <input type="text" class="form-control" id="restaurantName" placeholder="Enter Restaurant Name" ng-model="restAdmin.name">
    </div>

</form>
<button ng-click="editRows(restAdmin,'Add')" style="width: 25%;margin-top: 10px;margin-left: 25%;background-color: green; border-color: green;" class="btn btn-primary btn-large">Add Row
<button ng-click="utilityAddDB(sendToBack)" style="width: 25%;margin-top: 10px;margin-left: 10px;background-color: cornflowerblue; border-color: cornflowerblue;" class="btn btn-primary btn-large">Persist

</button>

<table class="table table-hover" style="margin-top: 10px">


    <tr>
        <th>Food Name</th>
        <th>Food Calories</th>
        <th>Food Sodium</th>
        <th>Food Fat</th>
        <th>Food Protein</th>
        <th>Food Carbs</th>
        <th>Food Fiber</th>
        <th>Food Portion</th>
        <th>Food Category (Comma Delimited)</th>
        <th>Food Group</th>



    <tr ng-repeat="restNameDisp in toScreen | filter:{name: '!!'}">
        <td data-title="'Name'">
            <span ng-if="restNameDisp.$edit">{{restNameDisp.name}}</span>

            <div ng-if="!restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.name"/></div>
        </td>
        <td data-title="'Calories'">
            <span ng-if="restNameDisp.$edit">{{restNameDisp.calories}}</span>

            <div ng-if="!restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.calories"/>
            </div>
        </td>
        <td data-title="'Sodium'">
            <span ng-if="restNameDisp.$edit">{{restNameDisp.sodium}}</span>

            <div ng-if="!restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.sodium"/>
            </div>
        </td>
        <td data-title="'Fat'">
            <span ng-if="restNameDisp.$edit">{{restNameDisp.fat}}</span>

            <div ng-if="!restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.fat"/>
            </div>
        </td>
        <td data-title="'Protein'">
            <span ng-if="restNameDisp.$edit">{{restNameDisp.protein}}</span>

            <div ng-if="!restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.protein"/>
            </div>
        </td>
        <td data-title="'Carbs'">
            <span ng-if="restNameDisp.$edit">{{restNameDisp.carbs}}</span>

            <div ng-if="!restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.carbs"/>
            </div>
        </td>
        <td data-title="'Fiber'">
            <span ng-if="restNameDisp.$edit">{{restNameDisp.fiber}}</span>

            <div ng-if="!restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.fiber"/>
            </div>
        </td>
        <td data-title="'Category'">
            <span ng-if="restNameDisp.$edit">{{restNameDisp.category}}</span>

            <div ng-if="!restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.category"/>
            </div>
        </td>
        <td data-title="'Group'">
            <span ng-if="restNameDisp.$edit">{{restNameDisp.group}}</span>

            <div ng-if="!restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.group"/>
            </div>
        </td>
        <td data-title="'Portion'">
            <span ng-if="restNameDisp.$edit">{{restNameDisp.portion}}</span>

            <div ng-if="!restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.portion"/>
            </div>
        </td>
        <td data-title="'Actions'">
            <a ng-if="!restNameDisp.$edit" href="" class="btn btn-primary btn-xs" ng-click="restNameDisp.$edit = true">Save</a>
            <a ng-if="restNameDisp.$edit" href="" class="btn btn-default btn-xs" ng-click="restNameDisp.$edit = false">Edit</a>
        </td>
        <td data-title="'Remove'">
            <a ng-click="editRows(restNameDisp, 'RemoveItem')" href="" class="btn btn-default btn-xs">Remove</a>
        </td>

</tr>
    </tr>
</table>

{{sendToBack}}






<!--<modal-dialog show='modalShown' width='700px' height='60%'>-->
    <!--<table class="table table-hover">-->
        <!--<tr>-->
            <!--<th>Modify?</th>-->
            <!--<th>Name</th>-->
            <!--<th>Calories</th>-->
            <!--<th>Sodium</th>-->
            <!--<th>Fat</th>-->
            <!--<th>Protein</th>-->
            <!--<th>Carbs</th>-->
            <!--<th>Fiber</th>-->


        <!--</tr>-->


        <!--<h4>Menu Items: {{selectRest.name}}</h4>-->
        <!--<tr ng-repeat="menuItems in selectRest.menu">-->
            <!--<td data-title="'Actions'">-->
                <!--<a ng-if="!menuItems.$edit" href="" class="btn btn-default btn-xs" ng-click="menuItems.$edit = true">Edit</a>-->
                <!--<a ng-if="menuItems.$edit" href="" class="btn btn-primary btn-xs" ng-click="menuItems.$edit = false">Save</a>-->
            <!--</td>-->

            <!--<td data-title="'Name'">-->
                <!--<span ng-if="!menuItems.$edit">{{menuItems.name}}</span>-->
                <!--<div ng-if="menuItems.$edit"><input class="form-control" type="text" ng-model="menuItems.name" /></div>-->
            <!--</td>-->
            <!--<td data-title="'Calories'">-->
                <!--<span ng-if="!menuItems.$edit">{{menuItems.calories}}</span>-->
                <!--<div ng-if="menuItems.$edit"><input class="form-control" type="text" ng-model="menuItems.calories" /></div>-->
            <!--</td>-->
            <!--<td data-title="'Sodium'">-->
                <!--<span ng-if="!menuItems.$edit">{{menuItems.sodium}}</span>-->
                <!--<div ng-if="menuItems.$edit"><input class="form-control" type="text" ng-model="menuItems.sodium" /></div>-->
            <!--</td>-->
            <!--<td data-title="'Fat'">-->
                <!--<span ng-if="!menuItems.$edit">{{menuItems.fat}}</span>-->
                <!--<div ng-if="menuItems.$edit"><input class="form-control" type="text" ng-model="menuItems.fat" /></div>-->
            <!--</td>-->
            <!--<td data-title="'Protein'">-->
                <!--<span ng-if="!menuItems.$edit">{{menuItems.protein}}</span>-->
                <!--<div ng-if="menuItems.$edit"><input class="form-control" type="text" ng-model="menuItems.protein" /></div>-->
            <!--</td>-->
            <!--<td data-title="'Carbs'">-->
                <!--<span ng-if="!menuItems.$edit">{{menuItems.carbs}}</span>-->
                <!--<div ng-if="menuItems.$edit"><input class="form-control" type="text" ng-model="menuItems.carbs" /></div>-->
            <!--</td>-->
            <!--<td data-title="'Fiber'">-->
                <!--<span ng-if="!menuItems.$edit">{{menuItems.fiber}}</span>-->
                <!--<div ng-if="menuItems.$edit"><input class="form-control" type="text" ng-model="menuItems.fiber" /></div>-->
            <!--</td>-->

        <!--</tr>-->
    <!--</table>-->


    <!--&lt;!&ndash;<form class="form-horizontal formplacement" role="form">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;Restaurant Name:&ndash;&gt;-->
            <!--&lt;!&ndash;<label class="sr-only" for="changeName">Restaurant Name:</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" class="form-control" id="changeName" placeholder={{selectRest.name}} ng-model="restAdmin.name">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;Restaurant Location:&ndash;&gt;-->
            <!--&lt;!&ndash;<label class="sr-only" for="changeName">Restaurant Location:</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" class="form-control" id="changeName" placeholder={{selectRest.address}} ng-model="restAdmin.address">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<button ng-click="searchForRestaurants(restAdmin)" class="btn btn-primary btn-large">Update&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--</modal-dialog>-->

<link rel="stylesheet" href="css/admin.css">
