
<style>
    .buttonplace{
        position: relative;
        left: 300px;
        margin-bottom: 10px;
    }
</style>


<table class="table table-hover" ng-model="restaurantAdd">


    <tr>
        <th>Restaurant Name</th>
        <th>Restaurant Address</th>

    </tr>
    <tr>
        <td><input class="form-control" name="restaurantAdd.address" ng-required="true" ></td>
        <td><input class="form-control" name="restaurantAdd.address" ng-required="true" ></td>

    </tr>
    <div class="buttonplace" style="">
        <button ng-click="searchForRestaurants(restaurantAdd)" class="btn btn-primary btn-large">Display list from API</button>

    </div>

</table>

