<style>
    .table-format {
        float: left;
        width: 25%;
    }
</style>


<form name="modifyRest" style="margin: 15px" class="form-group table-format">
    <strong>Search for:</strong> <input ng-model="rest.name" name="restName" ng-required="true" class="form-control">
        <span class="error" ng-show="modifyRest.restName.$error.required" style="color: red">
          Required!</span><br>
    <div style="left: 50px">
        <button ng-click="searchForRestaurants(rest)" style="width: 75%" class="btn btn-primary btn-large">Display
            list from API
        </button>

    </div>
</form>

<div style="float: right; width: 25%; padding-top: 15px; margin-right: 10px">
    <strong>Load Restaurant Name:</strong>
    <label class="sr-only" for="restaurantName">Restaurant Name:</label>
    <input type="text" class="form-control" id="restaurantName" placeholder="Enter Restaurant Name" ng-model="display.name">
        <button ng-click="editRows(display, 'AddAPI')" style="width: 100%; margin-top: 20px" class="btn btn-primary btn-large ">Load API
        </button>
</div>


<button ng-click="addToDatabase(display)" style="width: 25%; margin-top: 5%; margin-left: 10%; background-color: green; border-color: green" class="btn btn-primary btn-large ">Add
    </button>


<table class="table table-hover">


    <tr>
        <th>Food Name</th>
        <th>Food Calories</th>
        <th>Food Sodium</th>
        <th>Food Fat</th>
        <th>Food Protein</th>
        <th>Food Carbs</th>
        <th>Food Fiber</th>
        <th>Food Portion</th>
        <th>Food Category (Comma Delimited)</th>
        <th>Food Group</th>



    </tr>
    <!--<tr ng-repeat="restaurant in restaurantAPI" ng-click="setSelected();">-->
        <!--<td class="active">{{restaurant.name}}</td>-->
        <!--<td class="active">{{restaurant.calories}} cals</td>-->
        <!--<td class="active">{{restaurant.sodium}}g</td>-->
        <!--<td class="active">{{restaurant.fat}}g</td>-->
        <!--<td class="active">{{restaurant.protein}}g</td>-->
        <!--<td class="active">{{restaurant.carbs}}g</td>-->
        <!--<td class="active">{{restaurant.fiber}}g</td>-->
        <!--<td class="active">{{restaurant.portion}}g</td>-->
        <!--<td class="active">{{restaurant.category}}g</td>-->
        <!--<td class="active">{{restaurant.group}}g</td>-->


    <tr ng-repeat="restNameDisp in display.menu | filter:{name: '!!'}">
        <td data-title="'Name'">
            <span ng-if="!restNameDisp.$edit">{{restNameDisp.name}}</span>

            <div ng-if="restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.name"/></div>
        </td>
        <td data-title="'Calories'">
            <span ng-if="!restNameDisp.$edit">{{restNameDisp.calories}}</span>

            <div ng-if="restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.calories"/>
            </div>
        </td>
        <td data-title="'Sodium'">
            <span ng-if="!restNameDisp.$edit">{{restNameDisp.sodium}}</span>

            <div ng-if="restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.sodium"/>
            </div>
        </td>
        <td data-title="'Fat'">
            <span ng-if="!restNameDisp.$edit">{{restNameDisp.fat}}</span>

            <div ng-if="restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.fat"/>
            </div>
        </td>
        <td data-title="'Protein'">
            <span ng-if="!restNameDisp.$edit">{{restNameDisp.protein}}</span>

            <div ng-if="restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.protein"/>
            </div>
        </td>
        <td data-title="'Carbs'">
            <span ng-if="!restNameDisp.$edit">{{restNameDisp.carbs}}</span>

            <div ng-if="restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.carbs"/>
            </div>
        </td>
        <td data-title="'Fiber'">
            <span ng-if="!restNameDisp.$edit">{{restNameDisp.fiber}}</span>

            <div ng-if="restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.fiber"/>
            </div>
        </td>
        <td data-title="'Category'">
            <span ng-if="!restNameDisp.$edit">{{restNameDisp.category}}</span>

            <div ng-if="restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.category"/>
            </div>
        </td>
        <td data-title="'Group'">
            <span ng-if="!restNameDisp.$edit">{{restNameDisp.group}}</span>

            <div ng-if="restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.group"/>
            </div>
        </td>
        <td data-title="'Portion'">
            <span ng-if="!restNameDisp.$edit">{{restNameDisp.portion}}</span>

            <div ng-if="restNameDisp.$edit"><input class="form-control" type="text" ng-model="restNameDisp.portion"/>
            </div>
        </td>
        <td data-title="'Actions'">
            <a ng-if="!restNameDisp.$edit" href="" class="btn btn-default btn-xs" ng-click="restNameDisp.$edit = true">Edit</a>
            <a ng-if="restNameDisp.$edit" href="" class="btn btn-primary btn-xs" ng-click="restNameDisp.$edit = false">Save</a>
        </td>
        <td data-title="'Remove'">
            <a ng-click="editRows(restNameDisp, 'RemoveAPI')" href="" class="btn btn-default btn-xs">Remove</a>
        </td>

    </tr>
    </tr>
</table>

{{display}}




